#components-form-normal-register .register-form {
    max-width: 300px;
  }
#components-form-normal-register .register-form-forgot {
float: right;
}
#components-form-normal-register .register-form-button {
width: 100%;
}